<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{userPhoto}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{username}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"></li>
            <li class="treeview">
                <a href="/admin/dashboard#/">
                    <i class="fa fa-home"></i> <span>Ínicio</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#/dashboard/informacoes">
                    <i class="fa fa-home"></i> <span>História/Informações</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-image"></i> <span>Slide</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="#/dashboard/slides/novo"><i class="fa fa-plus"></i> Novo</a></li>
                    <li><a href="#/dashboard/slides"><i class="fa fa-list"></i> Meus Slides</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-list"></i> <span>Categorias</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/dashboard/categorias"><i class="fa fa-list"></i> Minhas Categorias</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-file"></i>
                    <span>Artigos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="#/dashboard/posts/novo"><i class="fa fa-plus"></i> Novo</a></li>
                    <li><a href="#/dashboard/posts"><i class="fa fa-list"></i> Meus Artigos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-music"></i>
                    <span>Cursos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="#/dashboard/cursos/novo">
                            <i class="fa fa-plus"></i> Novo
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard/cursos">
                            <i class="fa fa-list"></i> Todos os Cursos
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-map-marker"></i>
                    <span>Instalações</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#/dashboard/instalacoes">
                            <i class="fa fa-list"></i> Todos as Instalações
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/dashboard/agenda">
                    <i class="fa fa-calendar"></i>
                    <span>Agenda</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-user"></i>
                    <span>Usuários</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="#/dashboard/usuarios/novo"><i class="fa fa-user-plus"></i> Novo</a></li>
                    <li><a href="#/dashboard/usuarios"><i class="fa fa-users"></i> Meus Usuários</a></li>
                </ul>
            </li>
        </ul>
        <script type="text/javascript">
            $(".treeview").hover(function () {
                $(this).show('slow');
            });
        </script>
    </section>
    <!-- /.sidebar -->
</aside>
