<!-- COMMENTS -->
  <div id="comments-list" class="col-md-6 pull-right" ng-init="ajustCommentArea()">
    <!-- DIRECT CHAT -->
    <div class="box box-warning direct-chat direct-chat-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Comentários sobre este produto:</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" style="height:500px">
          <!-- Message. Default to the left -->
          <div ng-repeat="comment in comments" class="direct-chat-msg col-md-7"
          ng-class="{'pull-right':comment.isAdminComment, 'right':comment.isAdminComment}">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name" ng-class="{'pull-right':comment.isAdminComment,'pull-left':!comment.isAdminComment,}">{{comment.username}}</span>
              <span class="direct-chat-timestamp" ng-class="{'pull-left':comment.isAdminComment,'pull-right':!comment.isAdminComment,}">{{comment.created_at}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img class="direct-chat-img" src="../src/imgs/users/{{comment.user_photo}}" alt="message user image"><!-- /.direct-chat-img -->
            <div class="direct-chat-text">
              {{comment.content}}
            </div>
            <div ng-class="{'pull-right':comment.isAdminComment,'pull-left':!comment.isAdminComment,}"><br>
              <button ng-show="comment.is_reported" ng-click="reportComment(comment.comment_id)" class="btn btn-warning btn-xs" type="button" name="button">
                 <small>Denunciar</small>
              </button>
              <button ng-show="comment.isAdminComment" ng-click="deleteComment(comment.comment_id)" class="btn btn-danger btn-xs" type="button" name="button">
                <small>Deletar</small>
              </button>
            </div>

            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->

        </div>
        <!--/.direct-chat-messages-->

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <form action="#" method="post">
          <div class="input-group">
            <input type="text" name="message" placeholder="Escreva seu comentário" ng-model="comment.content" class="form-control">
                <span class="input-group-btn">
                  <button ng-click="postComment()" ng-sumited="postComment()" type="button" class="btn btn-warning btn-flat">
                    <span class="fa fa-comment"></span>
                    Comentar
                  </button>
                </span>
          </div>
        </form>
      </div>
      <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
  </div>
<!-- /COMMENTS -->
