<!-- DATA FORM -->
<div id="main-area" class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0" ng-init="showArchivesArea()">
    <!-- general form elements -->
    <div id="product-form" class="box box-primary col-md-6 ">
        <div class="box-header with-border">
            <h3 class="box-title">Dados do seu Produto:</h3>
            <button ng-show="saved" class="btn btn-primary btn-md pull-right" type="button" name="button">
                <span class="fa fa-eye"></span>
                Ver
            </button>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formNew" class="product-data">
            <div class="box-body">

                <div class="form-group row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-xs-12" ng-if="product.main_image!=undefined">
                                <img class="col-xs-12" src="../src/imgs/products/{{product.main_image}}" alt="Foto Principal"><br><br>
                                <small>*Foto Principal do produto</small>
                                <h3>Este anúncio acaba em: {{product.finished_at | dateFormat}}</h3>
                            </div>
                            <label for="name">Nome:</label>
                            <input ng-model="product.name" type="text" name="name" class="form-control" placeholder="Nome do Produto" required="required"><br />

                            <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
                                <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o nome do produto</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="categorys">Categoria:</label>
                            <select class="form-control" ng-blur="getSubCategorysOfCategory()" ng-model="product.category_id" name="categorys" ng-options="category.id as category.name for category in categorys"></select>
                            <div class="col-xs-12 alert alert-danger" ng-show="formNew.category.$error.required && formNew.category.$dirty">
                                <p class="col-xs-10">Por favor, <b>{{username}}</b> selecione a categoria do produto</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="categorys">Sub-categoria:</label>
                            <select class="form-control" ng-model="product.sub_categorys_id" name="categorys" ng-options="subCategory.id as subCategory.name for subCategory in subCategorys"></select>
                            <div class="col-xs-12 alert alert-danger" ng-show="formNew.category.$error.required && formNew.category.$dirty">
                                <p class="col-xs-10">Por favor, <b>{{username}}</b> selecione a sub-categoria do produto</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="price">Preço:</label>
                            <input ng-model="product.price" type="text" name="price" class="form-control" placeholder="Preço do Produto" required="required" mask='99?9?9?9?9?9?9?.?99'><br />
                        </div>
                        <div class="col-md-4">
                            <label for="dimensions">Dimensões:</label>
                            <select ng-model="product.product_dimensions_id" ng-options="dimension.id as dimension.name for dimension in dimensions " class="form-control" name="dimensions"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="quantity">Quantidade em Estoque:</label>
                            <input ng-model="product.quantity" type="number" name="quantity" class="form-control" placeholder="Quantidade em Estoque" required="required"><br />
                        </div><br>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.price.$error.required && formNew.price.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o preço do produto</p>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.dimensions.$error.required && formNew.dimensions.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> selecione as dimensões do produto</p>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.quantity.$error.required && formNew.quantity.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a quantidade do produto</p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="name">Foto Principal:</label>
                            <input id="photo" type="file" name="photo" file-model="product.main_image" class="default-field" ng-required="photoIsRequired" ng-minlenght="1"/><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="description">Descrição:</label>
                            <textarea class="form-control" name="description" ng-model="product.description" rows="8" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 text-center"><br>
                            <button type="button" class="btn btn-lg btn-flat btn-block btn-orange" name="button" data-target="#productsModal" data-toggle="modal">
                                <span class="fa fa-list"></span> Escolha as Tags vinculadas ao seu produto
                            </button>
                            <button type="button" class="btn btn-lg btn-flat btn-block btn-primary" name="button" data-target="#productsSimulatorModal" data-toggle="modal">
                                <span class="fa fa-money"></span> Simulador de vendas
                            </button>
                            <button ng-click="product.addMoreDaysInAdd=true" class="btn btn-lg btn-flat btn-block btn-warning" type="button" name="button">
                                <span class="fa fa-calendar"></span>
                                Prolongar data final do Anúncio
                            </button><br>{{product.addMoreDaysInAdd}}
                            <div class="col-md-12" ng-show="product.addMoreDaysInAdd">
                                <div class="col-md-12">
                                    <label for="products_time_disponibility_id">Quantos dias você deseja adicionar?</label>
                                    <select ng-model="product.products_time_disponibility_id" class="form-control" name="products_time_disponibility_id" ng-options="daysDisponibility.id as daysDisponibility.name for daysDisponibility in daysDisponibilitys"></select>
                                    <small>* Após selecionar clique em salvar ;)</small>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-md btn-flat btn-danger btn-block" type="button" name="button" ng-click="product.addMoreDaysInAdd=false">
                                        <span class="fa fa-remove"></span>
                                        Cancelar Prolongamento
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <ui-kit-buttons-form-post></ui-kit-buttons-form-post>
            </div>
        </form>
    </div>
    <!-- /.box -->

    <div id="archives-area" class="col-md-6">
        <!-- PHOTOS DROPZONE -->
        <div id="photo-drop" class="col-xs-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Adicione mais fotos ao seu produto (no máximo 4 fotos):</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form dropzone="dropzonePhoto" action="product/photo-upload" class="dropzone col-xs-12 col-xs-offset-0" id="productDropzone"></form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- PHOTOS SEND -->
        <div id="photo-list" class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Fotos Enviadas:</h3>
                    <div class="box-tools">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>COD:</th>
                            <th>Foto:</th>
                            <th>Ações:</th>
                        </tr>
                        <tr ng-repeat="productImage in productImages">
                            <td>{{productImage.id}}</td>
                            <td>
                                <a target="_blank"><img src="../src/imgs/products/{{productImage.thumb}}" class="img-responsive img-rounded" style="max-height:150px;">
                                </a>
                            </td>
                            <td>
                                <a href="../src/imgs/products/{{productImage.name}}" target="_blank" class="btn btn-success btn-sm">Ver</a>
                                <a class="btn btn-danger btn-sm" ng-click="deleteImage(productImage.id)">Excluir</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <ng-include class="col-md-6" src="'../assets/admin/app/core/modules/products/views/productsComments.view.html'"></ng-include>
</div>

<ng-include class="col-md-6" src="'../assets/admin/app/core/modules/products/views/productSimulator.view.html'"></ng-include>

<!-- Modal -->
<div class="modal fade" id="productsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-orange f-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Escolha as Tags do seu produto</h4>
            </div>
            <div class="modal-body">
                <table class="table table-stripped">
                    <thead>
                        <th>Nome</th>
                        <th>Marcar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in tags">
                            <td>{{tag.name}}</td>
                            <td>
                                <input type="checkbox" name="selectedTag" ng-model="tag.selected">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button ng-click="checkGroupOfTags()" class="btn btn-default btn-primary btn-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-right"></span> Prosseguir
                </button>
            </div>
        </div>
        <!--/ Modal content-->
    </div>
</div>
