<div class="modal fade" tabindex="-1" role="dialog" id="productsSimulatorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Simulador de Vendas</h4>
            </div>
            <div class="modal-body row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-12 text-center">
                                <label for="price"><h3>Valor do Produto:</h3></label>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <input ng-model="product.price" type="text" mask='99?9?9?9?9?9?9?.?99' name="price" class="form-control input-lg" placeholder="Preço do Produto" required="required"><br />
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <button ng-click="simulateSell();sellWasChecked=true" class="btn btn-primary btn-flat btn-lg btn-block" type="button" name="button">
                                <span class="fa fa-money"></span> Simular venda
                            </button><br><br>
                        </div>
                    </div>
                    <div ng-show="sellWasChecked" class="row">
                        <div class="text-center">
                            <h2>Você Recebe: {{ product.valueOfSeller | currency: 'R$'}}</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-offset-3" ng-show="sellWasChecked" ng-click="sellWasChecked=!sellWasChecked" data-dismiss="modal">
                                <button ng-click="sellWasConfirmed=true" class="btn btn-orange btn-flat btn-lg btn-block" type="button" name="button">
                                    <span class="fa fa-check"></span> Proseguir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
