<div>
    <ui-header></ui-header>
    <ui-nav></ui-nav>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:500px;">
        <!-- Main content -->
        <section class="content">
            <h1>
                <small>Dashboard/</small>
                Mensagem
            </h1>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- DATA FORM -->
                <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">

                            <div class="form-group col-md-12">

                                <h3> <span class="fa fa-envelope"></span> Dados da mensagem:</h3>

                                <b>Nome do usuário:</b> <p>{{message.name}}</p>
                                <b>Horário de envio:</b> <p>{{message.created_at | dateFormat}}</p>
                                <b>Assunto da mensagem:</b> <p>{{message.subject}}</p>
                                <b>Telefone:</b> <p>{{message.phone}}</p>
                                <b>Email:</b> <p>{{message.email}}</p>
                                <b>Mensagem:</b> <br>
                                <p>{{message.content}}</p>
                                <div ng-if="message.answer">
                                    <b>Resposta:</b> <br>
                                     <p ng-bind-html="message.answer"></p>
                                </div>

                                <form name='formNew' ng-show="sendMessageFormOn">
                                    <div>
                                        <div class="form-group col-xs-12">
                                            <label for="content">Conteúdo:</label><br>
                                            <textarea data-ui-tinymce class="form-control" ng-model="answer" name="content" rows="3" cols="80"></textarea>
                                        </div>
                                        <div class="col-xs-12 alert alert-danger" ng-show="formNew.content.$error.required && formNew.content.$dirty">
                                            <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o conteúdo da mensagem! =D</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <button ng-click="sendMessageFormOn = false" class="btn btn-danger btn-md btn-flat btn-block" type="button" name="button">
                                            <span class="fa fa-remove"></span>
                                            Cancelar
                                        </button>
                                    </div>
                                    <div class="col-md-6" ng-if="!message.answer">
                                        <button ng-if="!message.answer" ng-click="send(answer)" class="btn btn-success btn-md btn-flat btn-block" type="button" name="button">
                                            <span class="fa fa-envelope"></span>
                                            Enviar Mensagem
                                        </button>
                                    </div>
                                </form>
                                <br>
                                <hr>
                                <br>
                                <div class="col-md-6">
                                    <button ng-show="!sendMessageFormOn" onClick="javascript:history.go(-1);" class="btn btn-primary btn-md btn-flat btn-block" type="button" name="button">
                                        <span class="fa fa-arrow-left"></span>
                                        Voltar
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button ng-if="!message.answer" ng-show="!sendMessageFormOn" ng-click="sendMessageFormOn = true" class="btn btn-success btn-md btn-flat btn-block" type="button" name="button">
                                        <span class="fa fa-envelope"></span>
                                        Enviar Mensagem
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <ui-footer></ui-footer>
</div>
