<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dados:</h3>
            <small>* Campos obrigatórios</small>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formNew" class="user-data">
            <div class="box-body">
                <div class="col-xs-8 col-xs-offset-2" ng-if="photoOn==true">
                    <img src="{{slide.photo}}" class="col-xs-8 col-xs-offset-2" alt="Imagem do slide">
                </div>
                <div class="form-group col-xs-6">
                    <label for="title">* Título</label>
                    <input type="text" class="form-control" id="title" name="title" ng-model="slide.title" ng-required="true" maxlength="180">
                </div>
                <div class="form-group col-xs-6">
                    <label for="img">* Foto de capa:</label>
                    <input type="file" class="form-control" id="img" name="img" file-model="slide.photo" ng-model="slide.photo" ng-required="true">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.title.$error.required && formNew.title.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o titulo do sessão do slide! =D</p>
                </div>
                <div class="form-group col-xs-12">
                    <label for="btn_link">Link:</label>
                    <input type="text" class="form-control" id="btn_link" name="btn_link" ng-model="slide.btn_link">
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-success pull-right btn-lg btn-block btn-flat" type="button" name="button" ng-click="save(slide)">
                        <span class="fa fa-save"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->

</div>


<!-- Modal -->
<div class="modal fade" id="tagsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-orange f-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Escolha as Tags do seu produto</h4>
            </div>
            <div class="modal-body">
                <table class="table table-stripped">
                    <thead>
                        <th>Nome</th>
                        <th>Marcar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in tags">
                            <td>{{tag.name}}</td>
                            <td>
                                <input type="checkbox" name="selectedTag" ng-model="tag.selected">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button ng-click="checkGroupOfTags()" class="btn btn-default btn-primary btn-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-right"></span> Prosseguir
                </button>
            </div>
        </div>
        <!--/ Modal content-->
    </div>
</div>
