<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        Sessões do Slide:
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title"></h3>
            </div>
          <!-- /.box-header -->
          <div class="row gallery">
              <div class="col-xs-4 gallery-item-left">
                  <div  ng-repeat="slide in slides.slice(0, 3)"
                        class="col-md-12 gallery-item gallery-item-0{{ $index + 1 }}"
                        style="background-image:url({{ slide.photo }})">
                      <div class="gallery-item-effect">
                          <div class="gallery-item-legend text-center">
                              {{ slide.title}}
                              <a class="btn btn-success" href="#/dashboard/slides/{{ slide.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                              </a>
                              <!-- <a class="btn btn-danger" ng-click="deleteItem(slide.id)">
                                <span class="glyphicon glyphicon-trash"></span> Excluir
                              </a> -->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-8">
                  <div ng-repeat="slide in slides.slice(3, 4)"
                        class="col-md-12 gallery-item gallery-item-0{{ $index + 4 }}"
                        style="background-image:url({{ slide.photo }})">
                      <div class="gallery-item-effect">
                          <div class="gallery-item-legend text-center">
                              {{ slide.title }}
                              <a class="btn btn-success" href="#/dashboard/slides/{{ slide.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-4 gallery-item-left">
                  <div ng-repeat="slide in slides.slice(4, 5)"
                        class="col-md-12 gallery-item gallery-item-0{{ $index + 5 }}"
                        style="background-image:url({{ slide.photo }})">
                      <div class="gallery-item-effect">
                          <div class="gallery-item-legend text-center">
                              {{ slide.title }}
                              <a class="btn btn-success" href="#/dashboard/slides/{{ slide.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-4">
                  <div ng-repeat="slide in slides.slice(5, 6)"
                        class="col-md-12 gallery-item gallery-item-0{{ $index + 6 }}"
                        style="background-image:url({{ slide.photo }})">
                      <div class="gallery-item-effect">
                          <div class="gallery-item-legend text-center">
                              {{ slide.title }}
                              <a class="btn btn-success" href="#/dashboard/slides/{{ slide.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- <div class="box-body">
            <table id="slide2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>COD:</th>
                <th>Imagem:</th>
                <th>Título:</th>
                <th>Postado em:</th>
                <th>Ações:</th>
                <th>Marcar:</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="slide in slides">
                <td>{{slide.id}}</td>
                <td>
                    <img style="max-width:200px" src="{{slide.photo}}" alt="{{slide.title}}">
                </td>
                <td>{{slide.title}}</td>
                <td>{{slide.created_at | dateFormat}}</td>
                <td>
                  <a class="btn btn-success" href="#/dashboard/slides/{{slide.id}}">
                    <span class="glyphicon glyphicon-eye-open"></span> Ver
                  </a>
                  <a class="btn btn-danger" ng-click="deleteItem(slide.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox" ng-model="slide.selected"/>
                  <a href="" ng-click="slide.selected=true">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div> -->
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
