<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        Agenda:
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <ui-kit-buttons-top-list></ui-kit-buttons-top-list>
            <div ng-if="eventPostShow">
                <hr>
                  <h3>
                    Cadastrar Evento:
                  </h3>
                  <!-- Small boxes (Stat box) -->
                  <div class="row">

                        <form role="form" name="formNew" class="event-data">

                          <div class="form-group">

                              <div class="col-md-4">
                                  <label for="title">Nome:</label>
                                  <input ng-model="event.title" type="text" name="title" class="form-control" placeholder="Nome do evento" ng-required="true"><br />
                              </div>
                              <div class="col-md-4">
                                  <label for="date">Data:</label>
                                  <input ng-model="event.date" type="text" name="date" class="form-control" placeholder="Data do evento" ng-required="true" mask="99/99/9999"><br />
                              </div>
                              <div class="col-md-4">
                                  <label for="hour">Hora:</label>
                                  <input ng-model="event.hour" type="text" name="hour" class="form-control" placeholder="00:00 - 00:00" ng-required="true" mask="99:99 - 99:99"><br />
                              </div>
                              <div class="col-md-12">
                                  <label for="description">Descrição:</label>
                                  <textarea class="form-control" ng-model="event.description" name="description" rows="2" ng-required="true"></textarea>
                              </div>
                              <div class="col-md-4" style="margin-top:3px;">
                                  <br>
                                  <button ng-disabled="formNew.title.$invalid || formNew.date.$invalid || formNew.hour.$invalid || formNew.description.$invalid" class="btn btn-md btn-success" ng-click="save(event)" type="submit">
                                    <span class="fa fa-check"></span> Salvar
                                  </button>

                                  <a ng-click="$scope.eventPostShow = false" class="btn btn-md btn-danger">
                                    <span class="fa fa-remove"></span> Cancelar
                                  </a>
                              </div>

                          </div>

                          <div class="col-xs-12 alert alert-danger" ng-show="formNew.title.$error.required && formNew.title.$dirty">
                            <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o Título do evente</p>
                          </div>

                      </form>

                  </div>
                  <!-- /.row -->
                <hr>
            </div>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <table id="events2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>COD:</th>
                <th>Nome:</th>
                <th>Data:</th>
                <th>Hora:</th>
                <th>Descrição:</th>
                <th>Ações:</th>
                <th>Marcar:</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="event in events">
                <td>{{event.id}}</td>
                <td>
                  <p ng-if="!events.edit"> {{event.title}} </p>
                  <input ng-if="event.edit" ng-model="event.title" type="text" name="title" class="form-control" placeholder="Nome do evento" required="true">
                </td>
                <td>
                    <p ng-if="!events.edit"> {{event.date}} </p>
                    <input ng-if="event.edit" ng-model="event.date" type="text" name="date" class="form-control" placeholder="00/00/0000" mask="99/99/9999" required="true">
                </td>
                <td>
                    <p ng-if="!events.edit"> {{event.hour}} </p>
                    <input ng-if="event.edit" ng-model="event.hour" type="text" name="hour" class="form-control" placeholder="00:00 - 00:00" mask="99:99 - 99:99" required="true">
                </td>
                <td>
                    <p ng-if="!events.edit"> {{event.description}} </p>
                    <textarea ng-if="event.edit" class="form-control" ng-model="event.description" name="description" rows="2" ng-required="true"></textarea>
                </td>
                <td>
                  <a ng-if="!event.edit" class="btn btn-info" ng-click="event.edit = true">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                  </a>
                  <a ng-if="event.edit" class="btn btn-success" ng-click="save(event); event.edit = false">
                    <span class="glyphicon glyphicon-check"></span> Salvar
                  </a>
                  <a class="btn btn-danger" ng-click="deleteItem(event.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox" ng-model="event.selected"/>
                  <a href="" ng-click="event.selected=true">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <ui-paginator></ui-paginator>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
