<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dados:</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formNew" class="user-data">
            <div class="box-body">
                <div class="col-xs-8 col-xs-offset-2" ng-if="photoOn==true">
                    <img src="../src/imgs/posts/{{post.photo}}" class="col-xs-8 col-xs-offset-2" alt="Imagem do post">
                </div>
                <div class="form-group col-xs-12">
                    <label for="title">* Título</label>
                    <input type="text" class="form-control" id="title" name="title" ng-model="post.title" ng-required="true" maxlength="180">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o titulo do seu artigo! =D</p>
                </div>
                <div class="form-group col-xs-6">
                    <label for="category_id">* Categoria:</label>
                    <select ng-model="post.categorys_id" class="form-control" name="category_id" ng-options="category.id as category.name for category in categorys"></select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="img">* Foto de capa:</label>
                    <input type="file" class="form-control" id="img" name="img" file-model="post.photo" ng-model="post.photo" ng-required="true">
                </div>
                <div class="form-group col-xs-12">
                    <label for="keywords">* Palavras Chave:</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" ng-model="post.keywords" ng-required="true" maxlength="256">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.keywords.$error.required && formNew.keywords.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite as palavras chave do seu artigo! =D</p>
                </div>
                <div class="form-group col-xs-12">
                    <label for="content">* Conteúdo:</label><br>
                    <textarea data-ui-tinymce class="form-control" ng-model="post.content" name="content" rows="8" cols="80"></textarea>
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.content.$error.required && formNew.content.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o conteúdo do seu artigo! =D</p>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-success pull-right btn-lg btn-block btn-flat" type="button" name="button" ng-click="save(post)">
                        <span class="fa fa-save"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->

</div>


<!-- Modal -->
<div class="modal fade" id="tagsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-orange f-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Tags do artigo</h4>
            </div>
            <div class="modal-body">
                <table class="table table-stripped">
                    <thead>
                        <th>Nome</th>
                        <th>Marcar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in tags">
                            <td>{{tag.name}}</td>
                            <td>
                                <input type="checkbox" name="selectedTag" ng-model="tag.selected">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button ng-click="checkGroupOfTags()" class="btn btn-default btn-primary btn-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-right"></span> Prosseguir
                </button>
            </div>
        </div>
        <!--/ Modal content-->
    </div>
</div>
