<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dados:</h3>
        </div>
        <form role="form" name="formNew" class="user-data">
            <div class="box-body">
                <div class="col-xs-8 col-xs-offset-2" ng-if="photoOn==true">
                    <img src="{{course.photo}}" class="col-xs-8 col-xs-offset-2" alt="Imagem do Curso">
                </div>
                <div class="form-group col-md-6">
                    <label for="title">* Título</label>
                    <input type="text" class="form-control" id="title" name="title" ng-model="course.title" ng-required="true" maxlength="180">
                </div>
                <div class="form-group col-md-6">
                    <label for="img">* Foto de capa:</label>
                    <input type="file" class="form-control" id="img" name="img" file-model="course.photo" ng-model="course.photo" ng-required="true">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o titulo do seu curso! =D</p>
                </div>
                <div class="form-group col-xs-12">
                    <label for="keywords">* Palavras Chave:</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" ng-model="course.keywords" ng-required="true" maxlength="256">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.keywords.$error.required && formNew.keywords.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite as palavras chave do seu curso! =D</p>
                </div>
                <div class="form-group col-xs-12">
                    <label for="content">* Conteúdo:</label><br>
                    <textarea data-ui-tinymce class="form-control" ng-model="course.description" name="description" rows="8" cols="80"></textarea>
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.description.$error.required && formNew.description.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o conteúdo do seu curso! =D</p>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-success pull-right btn-lg btn-block btn-flat" type="button" name="button" ng-click="save(course)">
                        <span class="fa fa-save"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
