<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        Cursos:
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <ui-kit-buttons-top-list></ui-kit-buttons-top-list>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="course2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>COD:</th>
                <th>Nome:</th>
                <th>Postado em:</th>
                <th>Ações:</th>
                <th>Marcar:</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="course in courses">
                <td>{{course.id}}</td>
                <td>{{course.title}}</td>
                <td>{{course.created_at | dateFormat}}</td>
                <td>
                  <a class="btn btn-success" href="#/dashboard/cursos/{{course.id}}">
                    <span class="glyphicon glyphicon-eye-open"></span> Ver
                  </a>
                  <a class="btn btn-danger" ng-click="deleteItem(course.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox" ng-model="course.selected"/>
                  <a href="" ng-click="course.selected=true">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <ui-paginator></ui-paginator>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
