<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        Instalações:
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <ui-kit-buttons-top-list></ui-kit-buttons-top-list>
            <div ng-if="locationPostShow">
                <hr>
                  <h3>
                    Cadastrar Instalação:
                  </h3>
                  <!-- Small boxes (Stat box) -->
                  <div class="row">

                        <form role="form" name="formNew" class="location-data">

                          <div class="form-group">

                              <div class="col-md-4">
                                  <label for="name">Nome:</label>
                                  <input ng-model="location.name" type="text" name="name" class="form-control" placeholder="Nome da Instalação" required="required"><br />
                              </div>

                              <div class="col-md-8">
                                  <label for="description">Descrição:</label>
                                  <input ng-model="location.description" type="text" name="description" class="form-control" placeholder="Descrição da Instalação" required="required"><br />
                              </div>

                              <div class="col-md-4" style="margin-top:3px;">
                                  <br>
                                  <button class="btn btn-md btn-success" ng-click="save()" type="submit">
                                    <span class="fa fa-check"></span> Salvar
                                  </button>

                                  <a ng-click="$scope.locationPostShow = false" class="btn btn-md btn-danger">
                                    <span class="fa fa-remove"></span> Cancelar
                                  </a>
                              </div>

                          </div>

                          <div class="col-xs-12 alert alert-danger" ng-show="formNew.description.$error.required && formNew.description.$dirty">
                            <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a descrição do Instalação</p>
                          </div>

                      </form>

                  </div>
                  <!-- /.row -->
                <hr>
            </div>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <table id="locations2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>COD:</th>
                <th>Nome:</th>
                <th>Descrição:</th>
                <th>Ações:</th>
                <th>Marcar:</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="locations in locations">
                <td>{{locations.id}}</td>
                <td>
                  <p ng-if="!locations.edit"> {{locations.name}} </p>
                  <input ng-if="locations.edit" ng-model="locations.name" type="text" name="name" class="form-control" placeholder="Nome da instalação" required="true">
                </td>
                <td>
                  <p ng-if="!locations.edit"> {{locations.description}} </p>
                  <input ng-if="locations.edit" ng-model="locations.description" type="text" name="description" class="form-control" placeholder="Descrição da instalação" required="true">
                </td>
                <td>
                  <a ng-if="!locations.edit" class="btn btn-info" ng-click="locations.edit = true">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                  </a>
                  <a ng-if="locations.edit" class="btn btn-success" ng-click="save(locations); locations.edit = false">
                    <span class="glyphicon glyphicon-check"></span> Salvar
                  </a>
                  <a class="btn btn-danger" ng-click="deleteItem(locations.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox" ng-model="locations.selected"/>
                  <a href="" ng-click="locations.selected=true">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <ui-paginator></ui-paginator>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
