<div>
    <ui-header></ui-header>
    <ui-nav></ui-nav>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:500px;">
        <!-- Main content -->
        <section class="content">
            <h1>
                Para cadastrar um produto você precisa terminar seu cadastro:
            </h1>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h2 class="box-title">Termine seu cadastro e comece a Lucrar com o Vitrine Conquista:</h2>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <small>* Você só precisa preencher seus dados pessoais e selecionar um endereço caso não tenha um é simples clique em cadastrar =D</small>
                        <h2>Dados Pessoais</h2>
                        <form class="form form-inline">
                            <div class="form-group">
                                <label for="rg">Seu RG:</label><br>
                                <input class="form-control" type="text" name="rg" ng-model="myAccount.rg" mask="99.999.999-9" placeholder="00.000.000-0" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label for="birth_date">Data de Nascimento:</label><br>
                                <input class="form-control" type="text" name="birth_date" ng-model="myAccount.birth_date" mask="99/99/9999" placeholder="00/00/0000" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label for="issuer">Orgão Emissor:</label><br>
                                <select class="form-control" type="text" name="issuer" ng-model="myAccount.issuer" ng-options="issuer.initials as issuer.name for issuer in issuers" ng-required="true">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="issue_date">Data de Emissão:</label><br>
                                <input class="form-control" type="text" name="issue_date" ng-model="myAccount.issue_date" mask="99/99/9999" placeholder="00/00/0000" ng-required="true">
                            </div>
                        </form>
                        <div class="row">
                            <ng-include src="'../assets/admin/app/core/modules/adresses/addressesListSimple.view.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<ui-footer></ui-footer>
</div>
