<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dados:</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formNew" class="user-data">
            <div class="box-body">
                <div class="form-group col-xs-4">
                    <label for="phone">Telefones</label>
                    <input type="text" class="form-control" id="phone" name="phone" ng-model="myEnterprise.phone" ng-required="true" maxlength="180">
                </div>
                <div class="form-group col-xs-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" ng-model="myEnterprise.email" ng-required="true" maxlength="180">
                </div>
                <div class="form-group col-xs-4">
                    <label for="location">Localização</label>
                    <input type="text" class="form-control" id="location" name="location" ng-model="myEnterprise.location" ng-required="true" maxlength="180">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.phone.$error.required && formNew.phone.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite os telefones da sua empresa! =D</p>
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.email.$error.required && formNew.email.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite os emails! =D</p>
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.location.$error.required && formNew.location.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a localização da sua empresa! =D</p>
                </div>
                <div class="form-group col-xs-4">
                    <label for="facebook">Facebook:</label>
                    <input type="text" class="form-control" id="facebook" name="facebook" ng-model="myEnterprise.facebook" maxlength="180">
                </div>
                <div class="form-group col-xs-4">
                    <label for="instagram">Instagram:</label>
                    <input type="text" class="form-control" id="instagram" name="instagram" ng-model="myEnterprise.instagram" maxlength="180">
                </div>
                <div class="form-group col-xs-4">
                    <label for="youtube">Youtube:</label>
                    <input type="text" class="form-control" id="youtube" name="youtube" ng-model="myEnterprise.youtube" maxlength="180">
                </div>
                <div class="form-group col-xs-12">
                    <label for="keywords">Palavras Chave:</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" ng-model="myEnterprise.keywords" ng-required="true" maxlength="256">
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.keywords.$error.required && formNew.keywords.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite as palavras chave da sua empresa! =D</p>
                </div>
                <div class="form-group col-xs-12">
                    <label for="history">História:</label><br>
                    <textarea data-ui-tinymce class="form-control" ng-model="myEnterprise.history" name="history" rows="8" cols="80"></textarea>
                </div>
                <div class="col-xs-12 alert alert-danger" ng-show="formNew.history.$error.required && formNew.history.$dirty">
                    <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a história da sua empresa! =D</p>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-success pull-right btn-lg btn-block btn-flat" type="button" name="button" ng-click="save(myEnterprise)">
                        <span class="fa fa-save"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->

</div>


<!-- Modal -->
<div class="modal fade" id="tagsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-orange f-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Escolha as Tags do seu produto</h4>
            </div>
            <div class="modal-body">
                <table class="table table-stripped">
                    <thead>
                        <th>Nome</th>
                        <th>Marcar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in tags">
                            <td>{{tag.name}}</td>
                            <td>
                                <input type="checkbox" name="selectedTag" ng-model="tag.selected">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button ng-click="checkGroupOfTags()" class="btn btn-default btn-primary btn-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-right"></span> Prosseguir
                </button>
            </div>
        </div>
        <!--/ Modal content-->
    </div>
</div>
