* {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    padding: 0
}

html,
body {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.content {
    margin: 20px 0;
}

.gallery-item {
    display: table;
    margin-top: 15px;
    padding: 0;
    background-size: cover;
}

.gallery-item-effect {
    opacity: 0;
    background-size: cover;
    transition: all 500ms linear;
    display: table-cell;
    vertical-align: middle;
}

.gallery-item-effect:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.gallery-item-legend {
    color: white;
    font-size: 1.6em;
}

.gallery-item-left {
    padding-right: 0;
}

.gallery-item-01 {
    max-height: 135px;
    height: 135px;
    background-image: url('../../../assets/main/img/maxresdefault.jpg');
}

.gallery-item-02 {
    height: 150px;
    max-height: 150px;
    background-image: url('../../../assets/main/img/maxresdefault.jpg');
}

.gallery-item-03,
.gallery-item-05,
.gallery-item-06 {
    height: 135px;
    max-height: 135px;
    background-image: url('../../../assets/main/img/maxresdefault.jpg');
}

.gallery-item-04 {
    height: 300px;
    max-height: 300px;
    background-image: url('../../../assets/main/img/maxresdefault.jpg');
}

a {
    color: #216694
}

.active {
    color: #683a78
}

.breadcrumb {
    margin-bottom: 0;
    padding: 10px 15px
}

.breadcrumb>ol {
    margin-bottom: 0px
}

.breadcrumb>.active {
    color: #683a78
}

.bg-primary {
    background-color: #216694
}

.bg-primary-transparent {
    background-color: rgba(0, 0, 0, 0.4)
}

.link {
    color: #fff;
    font-size: 1.2em
}

.link:hover {
    color: #fff
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none !important
    }
}

@media (max-width: 768px) {
    .header > .bg-primary-transparent {
<<<<<<< HEAD
        padding: 20px !important;
=======
        padding: 40px 20px !important;
>>>>>>> 7cfabc84cad7f6a6e785927b03642a6d7d8f3743
    }
}

@media (max-width: 991px) {
    .item {
        display: block;
        margin-bottom: 20px
    }

    .gallery-item {
        width: 100%;
    }

    .gallery-item-left {
        padding-right: 15px;
    }
}

.item-description {
    padding: 20px;
    box-sizing: border-box
}

.item-description>p {
    color: #888;
    line-height: 1.4;
    text-indent: 20px;
    font-size: 18px;
    text-align: justify
}

.btn-circle {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 25px;
    color: #fff;
    transition: all 500ms linear
}

.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    transform: scale(1.05)
}

.btn-center {
    display: block;
    margin: 0 auto
}

.section {
    padding-top: 60px;
    padding-bottom: 60px
}

.section-full {
    padding: 20px
}

.section-default {
    background-color: #fff
}

.section-primary {
    background-color: #216694
}

.section-secondary {
    background-color: #10517d
}

.section-tertiary {
    background-color: #683a78
}

.section-primary,
.section-secondary,
.section-tertiary {
    color: #fff
}

.section-primary>div>div>.section-title-item,
.section-secondary>div>div>.section-title-item,
.section-tertiary>div>div>.section-title-item {
    color: #fff;
    border-color: #fff
}

.section-title-item {
    font-size: 1.8em;
    color: #216694;
    border-bottom: 3px solid #216694;
    display: initial;
    text-transform: uppercase;
    padding: 0 40px
}

.section-img {
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    background-color: #216694
}

.icon {
    color: #fff
}

.icon.icon-rounded {
    border-radius: 50%
}

.icon.icon-center {
    display: block;
    margin: 0 auto
}

.icon.icon-xs {
    width: 24px;
    height: 24px
}

.icon.icon-sm {
    width: 36px;
    height: 36px
}

.icon.icon-md {
    width: 48px;
    height: 48px
}

.icon.icon-lg {
    width: 64px;
    height: 64px
}

.icon.icon-eg {
    width: 128px;
    height: 128px
}

.g-maps {
    border: 0;
    width: 100%;
    height: 370px
}

.background-paralax {
    background-image: url("../../../src/layout/backgrounds/background-parallax.png");
    background-size: cover;
    width: 100%;
    position: fixed
}

.primary,
.secondary,
.tertiary {
    color: #fff
}

.primary,
.sent {
    background-color: #216694
}

.secondary {
    background-color: #10517d
}

.tertiary,
.received {
    background-color: #683a78
}

.diagonal {
    position: relative;
    z-index: 1;
    padding-left: 5em;
    padding-right: 5em
}

.diagonal+section>.section {
    padding-top: 150px;
    padding-bottom: 50px
}

.diagonal:before {
    position: absolute;
    content: '';
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: inherit
}

.diagonal-bottom.diagonal-right:before {
    -webkit-transform-origin: 100%;
    transform-origin: 100%
}

.diagonal-right:before {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0
}

.diagonal-left:before {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

#schedule-appointment {
    text-align: center;
    background-image: url("../../../src/layout/backgrounds/background-parallax.png");
    background-repeat: no-repeat;
    background-size: cover
}

.footer {
    color: #fff;
    background-color: #10517d
}

.footer .footer-main {
    padding: 30px
}

.footer .footer-bottom {
    padding: 20px
}

.footer-bottom p {
    margin: 0;
}

.header {
    background-image: url('../../../assets/main/img/maxresdefault.jpg');
    background-position: center;
    background-size: cover;
    max-height: 400px;
    background-attachment: fixed;
}

.header > .bg-primary-transparent {
    padding: 40px
}

.navbar {
    background-color: #fff;
    box-shadow: 0 -3px 9px #000;
    transition: background-color 500ms linear
}

.nav.navbar-nav {
    width: 100%;
    margin: 7.5px 0 7.5px 0;
}

.navbar-list {
    width: 100%;
}

.navbar-list>.navbar-list-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #444;
    font-size: 1.4em;
    font-weight: 400;
    border-bottom: 3px solid #e4e3e3;
    transition: border-color 250ms ease-in-out
}

.navbar-list>.navbar-list-item:hover {
    color: #216694;
    border-color: #216694
}

.menu-icon {
    margin-top: 4px;
    margin-right: 10px
}

.menu-icon>.icon-bar {
    color: #fff
}

.navbar-list-item {
    display: block;
}

#carousel-header {
    height: 100vh
}

.carousel-header-1 {
    background-image: url("../../../src/layout/backgrounds/background-parallax.png")
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%
}

.carousel-inner>.item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto
}

.carousel-caption {
    top: 40%;
    bottom: auto
}

.carousel-caption h2 {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

#carousel-depositions>.carousel-inner>.item>.carousel-caption {
    top: 15%
}

.btn-circle-transparent {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 20px
}

.btn-circle-default {
    background-color: #216694
}

.btn-circle-default:hover {
    background-color: #10517d
}

.btn-facebook {
    background-color: #365899;
    color: #fff
}

.btn-facebook:hover {
    background-color: #426099
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.card {
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-bottom: 3px solid #216694;
    transition: all 500ms ease-in-out;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    display: block;
}

.card.card-commitment {
    padding: 20px 0;
    border-bottom: none;
    border-radius: 0;
    border-right: 4px solid #216694
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.025)
}

.card>.btn {
    margin-bottom: 20px
}

.card-course {
    display: block;
}

.card-course,
.card-commitment {
    max-height: 300px;
    display: block;
    text-decoration: none;
}

.card-commitment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-commitment:hover,
.card-post:hover {
    text-decoration: none;
}

.card-course-img,
.card-post-img {
    margin-left: -15px;
    background-color: #e3e3e3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    max-height: 380px;
    height: 380px
}

.card-post-img {
    max-height: 150px;
    height: 150px;
}

.card-course-img>img,
.card-post-img>img {
    background-size: cover;
    background-position: center;
    overflow: hidden
}

.card-course-info,
.card-post-info {
    color: #444;
    padding-top: 20px
}

.card-course-data,
.card-commitment-data,
.card-post-data {
    margin-top: 5px;
    color: #216694;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center
}

.card-course-data>.card-course-day,
.card-commitment-data>.card-commitment-day
.card-post-data>.card-post-day {
    display: block;
    font-size: 1.6em
}

.card-commitment-month {
    text-align: center;
    display: block;
}

.card-commitment-data {
    display: table;
}

.card-commitment-data>.card-commitment-day {
    font-size: 3em;
}

.card-course-title,
.card-commitment-title>h3,
.card-post-title>h3 {
    font-weight: bold;
    margin: 0 0 5px 0
}

.card-post-author {
    color: #666;
    font-style: italic;
    font-weight: lighter
}

.card-course-body,
.card-commitment-body,
.card-post-body {
    height: 250px;
    position: relative;
    text-overflow: ellipsis;
    padding-bottom: 20px;
    max-height: 250px;
    color: #888;
    padding: 20px;
    text-align: justify;
    overflow: hidden
}

.card-post-body {
    height: auto;
}

.card-commitment-body {
    height: auto;
    max-height: 200px;
}

.card-post-body>.ellipsis {
    z-index: 2;
    position: absolute;
    bottom: -5px;
    width: calc(100% - 40px);
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff)
}

.card-post .btn {
    margin-right: 20px;
    margin-top: 20px
}

.card-team>.card-team-img {
    width: 150px;
    height: 150px;
    background-color: #e3e3e3;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto
}

.card-team>.card-team-info {
    padding-top: 20px
}

.card-team>.card-team-info>.card-team-member {
    color: #666
}

.card-team>.card-team-info>.card-team-member>h3 {
    margin: 0
}

.card-team>.card-team-body {
    color: #888;
    padding: 10px 20px;
    text-align: justify
}

.header-logo {
    padding: 50px
}

.logo {
    display: block;
    margin: 0 auto;
    width: 200px
}

.input-text-default {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    border-radius: 0;
    color: #fff;
    font-size: 1.2em;
    transition: border-color 500ms ease-in-out
}

.input-text-default:hover,
.input-text-default:focus {
    box-shadow: none;
    outline: none;
    border-color: #216694
}

.input-text-default::-webkit-input-placeholder {
    color: #ddd
}

.input-text-default::-moz-placeholder {
    color: #ddd
}

.input-text-default:-ms-input-placeholder {
    color: #ddd
}

.input-text-default:-moz-placeholder {
    color: #ddd
}

.input-text-default.input-text-primary {
    color: #216694;
    border-color: #216694
}

.input-text-default.input-text-primary:hover,
.input-text-default.input-text-primary:focus {
    box-shadow: none;
    outline: none;
    border-color: #10517d
}

.input-text-default.input-text-primary::-webkit-input-placeholder {
    color: #216694
}

.input-text-default.input-text-primary::-moz-placeholder {
    color: pink
}

.input-text-default.input-text-primary:-ms-input-placeholder {
    color: pink
}

.input-text-default.input-text-primary:-moz-placeholder {
    color: pink
}

#banner-contact {
}

.section-title {
    padding-bottom: 40px;
}

.section-title.section-title-bg {
    padding-bottom: 0;
}

.section-title .title {
    margin-top: 15px;
    margin-bottom: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #216694;
    color: #fff;
}

.deposition-img {
    width: 156px;
    height: 156px;
    background-color: #683a78;
    border: 5px solid #fff;
    border-radius: 50%
}

.doctor-img {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
    background-color: #e3e3e3
}

.post {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    margin-bottom: 40px
}

.post>.post-header>.post-header-img {
    height: 300px;
    max-height: 300px;
    background-color: #444;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
    overflow: hidden
}

.post>.post-header>.post-header-img>img {
    width: 100%;
    background-size: cover;
    background-position: center
}

.post>.post-header>.post-header-info {
    margin-top: -1px;
    padding: 10px;
    width: 100%;
    color: #fff;
    height: auto;
    display: inline-block;
    font-style: italic;
    background-color: #10517d
}

.post>.post-header>.post-header-info>ul {
    margin-bottom: 0
}

.post>.post-content {
    padding: 0 20px;
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.5
}

.post>.post-content>.post-content-title {
    font-size: 1.3em;
    font-weight: bold
}

.post>.post-content>p {
    text-indent: 1.2em;
    text-align: justify
}

.post-categories>.post-categories-title>.post-categories-title-item {
    margin-top: 0;
    color: #216694
}

.content-login {
    background-color: #fff;
    padding: 0 40px 40px 40px;
    border-radius: 5px;
    margin-top: 100px;
    border-bottom: 3px solid #216694;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.breadcrumb.dashboard {
    margin-top: -20px
}

.main.dashboard {
    padding: 40px;
    border: 2px solid #e3e3e3;
    border-top: 5px solid #216694;
    margin: 40px 0
}

.panel-custom {
    padding: 15px;
    border-bottom: 5px solid #216694;
    margin-top: 15px
}

.panel-custom>.panel-heading {
    background-color: #fff;
    color: #216694;
    font-size: 18px
}

.panel-group .panel+.panel {
    margin-top: 15px
}

.modal-content {
    padding: 40px;
    border-radius: 5px;
    border-bottom: 5px solid #216694
}

.full {
    width: 100%;
    height: 100%
}

.btn-fixed {
    position: fixed;
    bottom: 30px;
    right: 40px;
    background-color: #683a78;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    font-weight: bold
}
/*change*/
.nav.navbar-nav{
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar-list>.navbar-list-item{
    padding-bottom: 15px;
    border-bottom-width: 2.5px;
}
.gallery-item-01,
.gallery-item-02,
.gallery-item-03,
.gallery-item-05,
.gallery-item-06,
.gallery-item-07,
.gallery-item-08,
.gallery-item-09{
    height: 180px;
}
