<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:800px;">
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-12 text-center">
                  <h2>Resultados Obtidos:</h2>
              </div>
              <div class="col-md-5">
                  <label>Data Inicial:</label>
                  <input class="form-control input-lg" type="text" ng-model="dateBegin" placeholder="00/00/0000" mask="99/99/9999">
              </div>
              <div class="col-md-5">
                  <label>Data Final:</label>
                  <input class="form-control input-lg" type="text" ng-model="dateEnd" placeholder="00/00/0000" mask="99/99/9999">
              </div>
              <div class="col-md-2">
                  <br>
                  <button ng-click="getAnalyse()" ng-disabled="!(dateBegin && dateEnd)" class="btn btn-lg btn-primary" type="button" name="button">
                      <span class="fa fa-search"></span>
                      Analisar
                  </button>
                  <br><br>
              </div>
          </div>

          <div class="col-md-12">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4><span class="fa fa-eye"></span> Visitas a Artigos:</h4>
                      </div>
                      <div class="panel-body">
                          <canvas id="bar" class="chart chart-bar"
                          chart-data="bussinessAnalyse.viewsOfPosts.data"
                          chart-labels="bussinessAnalyse.viewsOfPosts.labels"
                          ></canvas>
                      </div>
                  </div>
              </div>
          </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
