<div class="col-xs-12">
    <br><br>
    <h2>Selecione seu Endereço</h2>
    <table id="user-addresses-list" class="table table-stripped">
        <thead>
            <th>Cep:</th>
            <th>Bairro:</th>
            <th>Taxa de entrega:</th>
            <th>Rua:</th>
            <th>Número:</th>
            <th>Selecionar:</th>
        </thead>
        <tbody>
            <tr ng-repeat="userAddress in userAddresses">
                <td>{{userAddress.cep}}</td>
                <td>{{userAddress.neighborhood_name}}</td>
                <td>{{userAddress.neighborhood_tax | currency}}</td>
                <td>{{userAddress.street}}</td>
                <td>{{userAddress.number}}</td>
                <td>
                    <a ng-click="selectAddress(userAddress);userAddress.select=true" ng-show="!userAddress.select" class="btn btn-success btn-sm btn-select-neighborhood" type="button" name="button">
                        Selecionar
                    </a>
                    <a ng-click="userAddress.select=false" ng-show="userAddress.select" class="btn btn-danger btn-sm btn-select-neighborhood" type="button" name="button">
                        Escolher Outro
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer text-center">
        <div class="col-md-12">
            <a class="btn btn-primary btn-md btn-flat btn-block" data-toggle="modal" data-target="#newAddressModal">
                <span class="fa fa-map-marker"></span>
                Novo Endereço
            </a>
        </div>
    </div>


    <div id="newAddressModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cadastre um novo endereço:</h4>
                </div>
                <div class="modal-body row">
                    <form name="form" class="col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="street">Seu Cep:</label>
                                <input class="form-control" type="text" name="cep" ng-blur="checkZipCode(newUserAddress.cep)" ng-model="newUserAddress.cep" ng-required="true">
                            </div>
                            <div class="col-md-6">
                                <label for="neighborhoods">Seu Bairro:</label>
                                <select ng-model="newUserAddress.neighborhoods_id" ng-required="true" ng-options="neighborhood.id as neighborhood.name for neighborhood in neighborhoods" class="form-control" name="neighborhoods"></select>
                            </div>
                            <div class="col-md-6">
                                <label for="street">Sua Rua:</label>
                                <input class="form-control" type="text" name="street" ng-model="newUserAddress.street" ng-required="true">
                            </div>
                            <div class="col-md-6">
                                <label for="number">N° da casa:</label>
                                <input class="form-control" type="text" name="number" ng-model="newUserAddress.number" ng-required="true">
                            </div>
                            <div class="col-xs-12">
                                <label for="number">Complemento:</label>
                                <textarea class="form-control" name="complement" ng-model="newUserAddress.complement" rows="4" cols="80"></textarea>
                            </div>
                            <div class="col-md-12"><br>
                                <button ng-click="saveAddress(newUserAddress)" type="button" name="button" class="btn btn-success btn-block btn-flat">
                                    <span class="fa fa-disk"></span>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="chooseAddressModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cadastre um novo endereço:</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-xs-12">
                        <h3>Confirme seu Endereço:</h3>
                        <b>CEP:</b><p>{{selectedUserAddress.cep}}</p>
                        <b>Bairro:</b><p>{{selectedUserAddress.neighborhood_name}}</p>
                        <b>Taxa de Entrega:</b><p>{{selectedUserAddress.neighborhood_tax | currency}}</p>
                        <b>Rua:</b><p>{{selectedUserAddress.street}}</p>
                        <b>Número da Casa</b><p>{{selectedUserAddress.number}}</p>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="col-md-12" ng-show="isValid">
                            <button ng-click="save()" class="btn btn-success btn-flat btn-block pull-right" type="button" name="button">
                                <span class="fa fa-check"></span>
                                Concluir
                            </button>
                        </div>
                        <div class="col-md-12" ng-show="!isValid">
                            <button class="btn btn-danger btn-flat btn-block pull-left" type="button" name="button" data-dismiss="modal">
                                <span class="fa fa-remove"></span>
                                Voltar e digitar dados pessoais!
                            </button>
                        </div>
                        <div class="col-md-12" ng-show="isValid">
                            <button class="btn btn-danger btn-flat btn-block pull-left" type="button" name="button" data-dismiss="modal">
                                <span class="fa fa-remove"></span>
                                Não, quero escolher outro
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
