<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        Categorias:
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <ui-kit-buttons-top-list></ui-kit-buttons-top-list>
            <div ng-if="categoryPostShow">
                <hr>
                  <h3>
                    Cadastrar Categoria:
                  </h3>
                  <!-- Small boxes (Stat box) -->
                  <div class="row">

                        <form role="form" name="formNew" class="category-data">

                          <div class="form-group">

                              <div class="col-md-8">
                                  <label for="name">Nome:</label>
                                  <input ng-model="category.name" type="text" name="name" class="form-control" placeholder="Nome da categoria" required="required"><br />
                              </div>
                              <div class="col-md-4" style="margin-top:3px;">
                                  <br>
                                  <button class="btn btn-md btn-success" ng-click="save()" type="submit">
                                    <span class="fa fa-check"></span> Salvar
                                  </button>  
                                  
                                  <a ng-click="$scope.categoryPostShow = false" class="btn btn-md btn-danger">
                                    <span class="fa fa-remove"></span> Cancelar
                                  </a>
                              </div>

                          </div>

                          <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
                            <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o nome do categorye</p>
                          </div>         
                        
                      </form>

                  </div>
                  <!-- /.row -->
                <hr>
            </div>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <table id="categorys2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>COD:</th>
                <th>Nome:</th>
                <th>Ações:</th>
                <th>Marcar:</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="categorys in categorys">
                <td>{{categorys.id}}</td>
                <td>
                  <p ng-if="!categorys.edit"> {{categorys.name}} </p>
                  <input ng-if="categorys.edit" ng-model="categorys.name" type="text" name="name" class="form-control" placeholder="Nome da categoria" required="true">
                </td>
                <td>
                  <a ng-if="!categorys.edit" class="btn btn-info" ng-click="categorys.edit = true">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                  </a>
                  <a ng-if="categorys.edit" class="btn btn-success" ng-click="save(categorys); categorys.edit = false">
                    <span class="glyphicon glyphicon-check"></span> Salvar
                  </a>
                  <a class="btn btn-danger" ng-click="deleteItem(categorys.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                  </a>
                </td>
                <td class="text-center">
                  <input type="checkbox" ng-model="categorys.selected"/>
                  <a href="" ng-click="categorys.selected=true">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <ui-paginator></ui-paginator>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
