<!-- DATA FORM -->
<div class="col-md-12">
    <!-- form start -->
    <form role="form" name="formNew" class="category-data">

        <div class="form-group">

            <div class="col-md-8">
                <label for="name">Nome:</label>
                <input ng-model="category.name" type="text" name="name" class="form-control" placeholder="Nome da categoria" required="required"><br />
            </div>
            <div class="col-md-4" style="margin-top:3px;">
                <br>
                <button class="btn btn-md btn-success" ng-click="save()" type="submit">
                  <span class="fa fa-check"></span> Salvar
                </button>
            </div>

        </div>

        <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
          <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o nome do categorye</p>
        </div>         
 
      
    </form>
