<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">


    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
