<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dados:</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formNew" class="user-data">
            <div class="box-body">
                <div ng-show="photoOn==true" class="col-xs-10 col-xs-offset-1">
                    <img class="col-xs-6 col-xs-offset-3 img-circle img-rounded" src="{{user.photo}}">
                </div>

                <div class="form-divisor">
                    <div class="form-group" ng-class="{'col-md-4':(photoOn), 'col-md-6':(!photoOn)}">
                        <label for="name">* Nome:</label>
                        <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Nome do Usuário" required="required"><br />
                    </div>
                    <div class="form-group" ng-class="{'col-md-4':(photoOn), 'col-md-6':(!photoOn)}">
                        <label for="email">* Email:</label>
                        <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="exemplo@mail.com" required="required" ng-required="true"><br />
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.email.$error.required && formNew.email.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o email do Usuário</p>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o nome do Usuário</p>
                    </div>
                    <div class="col-md-4" ng-show="photoOn">
                        <br>
                        <a class="btn btn-md btn-block btn-warning" ng-show="!passwordOn  && photoOn" ng-click="passwordOn = true">
                            <span class="fa fa-unlock"></span>
                            Alterar Senha
                        </a>
                        <a class="btn btn-md btn-block btn-danger" ng-show="passwordOn && photoOn" ng-click="passwordOn = false">
                            <span class="fa fa-lock"></span>
                            Cancelar Alteração
                        </a>
                    </div>
                    <div id="password-on" ng-show="passwordOn">
                        <div class="form-group col-md-6">
                            <label for="password">* Senha:</label>
                            <input ng-model="user.password" type="password" name="password" class="form-control" placeholder="Sua senha 8 a 12 digitos" required="required" ng-required="passwordOn"><br />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="repassword">* Confirme a senha:</label>
                            <input ng-model="user.repassword" type="password" name="repassword" class="form-control" placeholder="Sua senha 8 a 12 digitos" required="required" ng-required="passwordOn"><br />
                        </div>
                        <div class="col-xs-12 alert alert-danger" ng-show="formNew.password.$error.required && formNew.password.$dirty && passwordOn">
                            <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a Senha do Usuário</p>
                        </div>
                        <div class="col-xs-12 alert alert-danger" ng-show="formNew.repassword.$error.required && formNew.repassword.$dirty && passwordOn">
                            <p class="col-xs-10">Por favor, <b>{{username}}</b> comfirme a Senha do Usuário digitando a mesma no campo de comfirmação de senha</p>
                        </div>
                        <div class="col-xs-12 alert alert-danger" ng-show="user.password!=user.repassword">
                            <p class="col-xs-10"><b>{{username}}</b> as duas senhas não são iguais por favor corrija isso ;)</p>
                        </div>
                    </div>
                </div>
                <div class="form-divisor">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6">
                            <label for="photo">Foto do perfil:</label>
                            <input id="photo" type="file" name="photo" file-model="user.photo" class="default-field" ng-required="false" ng-minlenght="1"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="users_type_id">* Tipo do usuário:</label>
                        <select id="users_type_id" name="users_type_id" ng-model="user.users_type_id" class="form-control" ng-required="true" ng-options="usersType.id as usersType.name for usersType in usersTypes"></select>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.users_type_id.$error.required && formNew.users_type_id.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> Selecione o tipo do usuário</p>
                    </div>
                    <div class="col-xs-12 alert alert-danger" ng-show="formNew.photo.$error.required && formNew.photo.$dirty">
                        <p class="col-xs-10">Por favor, <b>{{username}}</b> adicione a foto de perfil do Usuário</p>
                    </div>
                </div>

                <div class="form-group" ng-show="user.users_type_id==1">
                    <h4 class="text-center col-xs-12"> <span class="fa fa-user"></span> Dados do Paciente:</h4> <br>
                    <div class="col-md-3">
                        <label for="cpf">CPF:</label>
                        <input ng-model="user.cpf" type="text" name="cpf" class="form-control"
                         placeholder="000.000.000-00" mask="999.999.999-99">
                    </div>
                    <div class="col-md-3">
                        <label for="date_birth">Nascimento:</label>
                        <input ng-model="user.date_birth" type="text" name="date_birth" class="form-control"
                         placeholder="00/00/0000" mask="99/99/9999" ng-required="user.users_type_id==1">
                    </div>
                    <div class="col-md-3">
                        <label for="sex">* Sexo:</label>
                        <select class="form-control" ng-model="user.sex" ng-required="user.users_type_id==1">
                            <option ng-click="user.sex='M'" ng-selected="user.sex === 'Homem'" value="M">Masculino</option>
                            <option ng-click="user.sex='F'" ng-selected="user.sex === 'Mulher'" value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="phone">* Telefone:</label>
                        <input ng-model="user.phone" type="text" name="phone" class="form-control"
                         mask="(999) 99999-9999" placeholder="(000) 00000-00000" ng-required="user.users_type_id==1">
                    </div>
                    <div class="col-md-3">
                        <label for="neighborhood">Bairro:</label>
                        <input class="form-control" placeholder="Ex: Recreio" type="text" name="neighborhood"
                        ng-model="user.address.neighborhood">
                    </div>
                    <div class="col-md-3">
                        <label for="street">Rua:</label>
                        <input class="form-control" placeholder="Ex: Rua Alziro Prates" type="text" name="street"
                        ng-model="user.address.street">
                    </div>
                    <div class="col-md-3">
                        <label for="number">N° da casa:</label>
                        <input class="form-control" placeholder="Ex: 5567" type="text" name="number"
                        ng-model="user.address.number">
                    </div>
                    <div class="col-xs-3">
                        <label for="number">Complemento:</label>
                        <input class="form-control" placeholder="Perto do Supermecado Rondeli"
                        type="text" name="complement" ng-model="user.address.complement">
                    </div>
                </div>
                <div class="form-divisor">
                    <div class="form-group col-xs-12">
                        <label for="description">Descrição:</label><br>
                        <textarea data-ui-tinymce class="form-control" ng-model="user.description" name="description" rows="8" cols="80"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ng-click="save()" ng-disabled="formNew.$invalid" class="btn btn-success btn-lg btn-block" type="button" name="button">
                    <span class="fa fa-floppy-o"></span> Salvar
                </button>
            </div>
        </form>
    </div>
    <!-- /.box -->

</div>
