<div>
    <ui-header></ui-header>
    <ui-nav></ui-nav>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:500px;">
        <!-- Main content -->
        <section class="content">
            <h1>
                <small>Dashboard/</small>
                {{user.name}}
            </h1>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <ng-include src="'../assets/admin/app/admins/modules/users/views/usersForm.view.html'"></ng-include>
            </div>
            <!-- /.row -->
            <!-- ARCHIVES SEND -->
            <div class="col-md-10 col-md-offset-1">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <div class="box-header">
                            <h3 class="box-title">Enviar Exame:</h3>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-6">
                                <label for="exam_archive">Arquivo do Exame:</label>
                                <input type="file" name="exam_archive" file-model="exam.archive" class="default-field" ng-required="false" ng-minlenght="1"/>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="exam_name">Nome do Exame:</label>
                                <input ng-model="exam.name" type="name" name="exam_name" class="form-control" placeholder="Exame de Mama" required="required" ng-required="true"><br />
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <br>
                            <button ng-click="sendExam()" class="btn btn-primary btn-sm" type="button" name="button">
                                <span class="fa fa-floppy-o"></span>
                                 Salvar Exame
                            </button>
                            <br><br><br>
                        </div>
                        <div class="col-md-12">
                            <div class="box-header">
                                <h3 class="box-title">Exames já enviados:</h3>
                            </div>
                            <table class="table table-hover">
                                <tr>
                                    <th>COD:</th>
                                    <th>Arquivo:</th>
                                    <th>Ações:</th>
                                </tr>
                                <tr ng-repeat="clientExam in clientExams">
                                    <td>{{clientExam.id}}</td>
                                    <td><a href="../src/archives/{{clientExam.archive}}" target="_blank">{{clientExam.name}}</a></td>
                                    <td>
                                        <a href="../src/archives/{{clientExam.archive}}" target="_blank" class="btn btn-success btn-sm">Ver</a>
                                        <a class="btn btn-danger btn-sm" ng-click="deleteExam(clientExam.id)">Excluir</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <ui-footer></ui-footer>
</div>
