<!--* ALERT-BOX-->
  <div class="alert-box del panel panel-default min-shadow" style="display:none;">
    <div class="panel-heading blue">
      <h3 class="panel-title"><b>Olá, {{username}}.</b></h3>
    </div>
    <div class="panel-body">
      <p>Você deseja mesmo excluir isto?</p><br>
      <div class="col-sm-7 col-md-push-5">

        <button type="button" class="btn btn-success btn-default btn-ext-lt-padding btn-no-del on-preloader" ng-click="deleteItens()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sim</button>
        <button type="button" class="btn-no-del btn btn-danger btn-default btn-ext-lt-padding"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Não</button>

      </div>
    </div>
  </div>
<!--* END-ALERT-BOX -->
<script type="text/javascript" src="assets/admin/app/effects/alert-effects.js"></script>
