<label for="{{nameOfInput}}">{{nameUi}}</label>
<input ng-model="{{ngModel}}"
        type="{{type}}"
        name="{{nameOfInput}}"
        class="{{class}}"
        placeholder="{{placeholder}}" required="{{required}}"><br />
