<header class="main-header">
  <!-- Logo -->
  <a href="#/dashboard" class="logo white">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img style="width:100%" id="logo" src="../src/layout/logos/logo-post-up.png">
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <img style="height:45px" id="logo" src="../src/layout/logos/logo-post-up.png">
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Navegação</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a  class="dropdown-toggle" data-toggle="dropdown">
            <img src="../src/imgs/users/default-user.png" class="user-image" class="img-circle" alt="User Image">
            <span class="hidden-xs">{{username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header bg-orange">
              <img src="../src/imgs/users/default-user.png" class="img-circle" alt="User Image">
              <p>
                {{username}}
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a  href="dashboard/logout" class="btn btn-primary btn-flat">
                  Sair
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
