<!--HIDDEN IN DESKTOPS-->
<div class="col-xs-12 col-sm-9 col-sm-push-3 hidden-sm hidden-md hidden-lg">

  <button class="btn btn-warning col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1" ng-click="put()" ng-disabled="formNew.$invalid">
    <span type="submit" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Alterar
  </button>

  <button class="btn-del btn btn-danger col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-1" ng-click="deleteItem()">
  <span class="glyphicon glyphicon-remove"></span>  Deletar</button>

  <button class="btn btn-primary col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1" ng-click="backView()">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Voltar
  </button>

</div>

<!--HIDDEN IN SMARTPHONES-->
<div class="col-xs-12 col-sm-12 hidden-xs">

  <button class="btn btn-primary col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-1" ng-click="backView()">
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Voltar</button>

  <button id="btn-del" class="btn btn-danger col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-1" ng-click="deleteItem()">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Deletar</button>

  <button type="submit" class="btn btn-warning col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-1" ng-click="put()" ng-disabled="formNew.$invalid">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Alterar
  </button>

</div>
