<div class="row hidden-xs">
  <div class="col-md-5">
    <button class="btn blue btn-danger" ng-click="deleteItens()" ><span class="glyphicon glyphicon-trash"></span> Deletar Selecionados</button>
    <a class="btn btn-success"  href="" ng-click="goToPostItem()"><span class="glyphicon glyphicon-plus"></span> Adicionar</a>
  </div>
  <div class="col-md-7">

    <div class="col-md-7">
      <input type="text" name="search" ng-model="search" class="form-control" placeholder="Busque o que você procura!" aria-describedby="addon-search" class="col-md-12"/>
    </div>

    <div class="col-md-5">
      <button class="btn btn-info col-md-12" ng-click="searchItem()">
        <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
    </div>

  </div>
</div>
<div class="row hidden-sm hidden-md hidden-lg">
  <div class="col-xs-12">
    <button class="btn blue btn-del btn-danger" ng-click="deleteItens()" ><span class="glyphicon glyphicon-trash"></span> Deletar Selecionados</button>
    <a class="btn btn-success"  href="" ng-click="goToPostItem()"><span class="glyphicon glyphicon-plus"></span> Adicionar</a>
  </div>
  <div class="col-md-12">

    <div class="col-md-12">
      <input type="text" name="search" ng-model="search" class="form-control" placeholder="Busque o que você procura!" aria-describedby="addon-search" class="col-md-12"/>
    </div>

    <div class="col-md-12">
      <button class="btn btn-info col-md-12" ng-click="searchItem()">
        <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
    </div>

  </div>
</div>
