<!--HIDDEN IN DESKTOPS-->
<div class="hidden-sm hidden-md hidden-lg">

  <button onClick="javascript:history.go(-1);" class="btn btn-flat  btn-success col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1" ng-click="save()" ng-disabled="form.$invalid">
    <span type="submit" class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Salvar
  </button><br>

  <button class="btn  btn-flat btn-primary col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Voltar
  </button>

</div>

<!--HIDDEN IN SMARTPHONES-->
<div class="hidden-xs">

  <button onClick="javascript:history.go(-1);" class="btn btn-flat  btn-primary col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1 preloader-on">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Voltar</button>
  </button>

  <button type="submit" class="btn  btn-flat btn-success col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1" ng-click="save()" ng-disabled="form.$invalid">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Salvar
  </button>

</div>
