<!--* LOAD-->
  <div class="preloader">
    <div class="background white">
      <div class="col-xs-12">
          <img id="logo" src="../src/layout/logos/logo-vitrine.png">
      </div>
      <div class="col-xs-12">
        <img id="icon-load" src="../src/layout/icons/preloader.gif">
      </div>
      <p class="text-center">Aguarde <b class="username-preloader"></b> já estamos carregando ...</p>
    </div>
  </div>
<!--* LOAD -->
<script type="text/javascript">
$(window).load(function () {
//  $(".preloader").fadeOut(3000);
});
</script>
