<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../src/imgs/users/default-user.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header"></li>
      <li class="treeview">
        <a href="#/">
          <i class="fa fa-home"></i> <span>Ínicio</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-gift"></i> <span>Produtos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="#/dashboard/novo/cliente"><i class="fa fa-gift-plus"></i> Novo</a></li>
          <li><a href="#/dashboard/cliente"><i class="fa fa-gifts"></i> Meus Produtos</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-list"></i> <span>Categorias</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="#/dashboard/categorias/novo"><i class="fa fa-list-plus"></i> Nova</a></li>
          <li><a href="#/dashboard/categorias"><i class="fa fa-list"></i> Minhas Categorias</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-list"></i> <span>Sub-Categorias</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="#/dashboard/subcategorias/novo"><i class="fa fa-list-plus"></i> Nova</a></li>
          <li><a href="#/dashboard/subcategorias"><i class="fa fa-list"></i> Minhas Sub-Categorias</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-list"></i> <span>Tags</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="#/dashboard/tags/novo"><i class="fa fa-list-plus"></i> Nova</a></li>
          <li><a href="#/dashboard/tags"><i class="fa fa-list"></i> Minhas Tags</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-user"></i> <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="#/dashboard/usuarios/novo"><i class="fa fa-user-plus"></i> Novo</a></li>
          <li><a href="#/dashboard/usuarios"><i class="fa fa-users"></i> Meus Usuários</a></li>
        </ul>
      </li>
    </ul>
    <script type="text/javascript">
      $(".treeview").hover(function () {
        $(this).show('slow');
      });
    </script>
  </section>
  <!-- /.sidebar -->
</aside>
