<!--* WORK-AREA-CONTENT-PAGINATOR *-->
<nav aria-label="Page navigation" class="paginator" ng-init="(pages[0])? pageSelected = pages[0] : ''">
  <ul class="pagination pagination-xs">
    <p>Páginas:</p>
    <li>
      <a href="#" aria-label="Previous" ng-click="goToPage((i.page - 1));pageSelected = (i.page - 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      <li ng-repeat="i in pages"><a href="" ng-click="goToPage(i.page);pageSelected = i.page" ng-class="{active : currentPage == i.page}">{{i.page}}</a></li>
    <li>
      <a href="#" aria-label="Next" ng-click="goToPage((i.page + 1));pageSelected = (i.page + 1)">
            <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<!--* END-WORK-AREA-CONTENT-PAGINATOR *-->
