<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Dados:</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="formNew" class="example-data">
      <div class="box-body">

        <div class="form-group col-md-12">

          <label for="name">Nome:</label>
          <input ng-model="example.name" type="text" name="name" class="form-control" placeholder="Nome do examplee" required="required"><br />

          <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o nome do examplee</p>
          </div>
        </div>

        <div class="form-divisor">
          <div class="form-group col-md-6">
            <label for="date_of_birth">Data de Nascimento:</label>
            <input ng-model="example.date_of_birth" type="text" name="date_of_birth" class="form-control" placeholder="00/00/0000" required="required"><br />
          </div>
          <div class="form-group col-md-6">
            <label for="rg">RG:</label>
            <input ng-model="example.rg" type="text" name="rg" class="form-control" placeholder="000.000.000-00" required="required"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.rg.$error.required && formNew.rg.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o RG do examplee</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-6">
            <label for="cpf">CPF:</label>
            <input ng-model="example.cpf" type="text" name="cpf" class="form-control" placeholder="000.000.000-00" required="required"><br />
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Telefone:</label>
            <input ng-model="example.phone" type="text" name="phone" class="form-control" placeholder="(DDD) 90000-0000" required="required"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.phone.$error.required && formNew.phone.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o Telefone do examplee</p>
          </div>
        </div>
        <div class="form-divisor  col-md-12">
          <label for="address">Endereço:</label>
          <textarea ng-model="example.address" class="form-control" name="address" rows="8" cols="80" placeholder="Rua, Bairro, N°, Cidade ou Complemento"></textarea><br>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.address.$error.required && formNew.address.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o Endereço do examplee</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-6">
            <label for="naturality">Naturalidade:</label>
            <input ng-model="example.naturality" type="text" name="naturality" class="form-control" placeholder="Brasileiro" required="required"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.naturality.$error.required && formNew.naturality.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a Naturalidade do examplee</p>
          </div>
          <div class="form-group col-md-6">
            <label for="school_level">Escolaridade:</label>
            <input ng-model="example.school_level" type="text" name="school_level" class="form-control" placeholder="Médio, Técnico, Doutorado" required="required"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.rg.$error.required && formNew.rg.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a Escolaridade do examplee</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-6">
            <label for="job">Profissão:</label>
            <input ng-model="example.job" type="text" name="job" class="form-control" placeholder="Médico, Físico, Engenheiro" required="required"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.naturality.$error.required && formNew.naturality.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a Profissão do examplee</p>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email:</label>
            <input ng-model="example.email" type="text" name="email" class="form-control" placeholder="exemplo@exemplo.com.br" required="required" ng-blur="checkMail()"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.email.$error.required && formNew.email.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a Email do examplee</p>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="mailIsRegistred">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite outro email pois este já está cadastrado no sistema!</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-6">
            <label for="sex">Sexo:</label>
            <select ng-model="example.sex" ng-options="sex.name for sex in sexs" class="form-control" name="sex" >

            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="sex">Estado Cívil:</label>
            <select ng-model="example.state_civil" ng-options="state_civil.name for state_civil in states_civil" class="form-control" name="state_civil">

            </select>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.sex.$error.required && formNew.sex.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> selecione o Sexo do examplee</p>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.state_civil.$error.required && formNew.state_civil.$dirty">
            <p class="col-xs-10">Por favor, <b>{{username}}</b> selecione o Estado Cívil do examplee</p>
          </div>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <ui-kit-buttons-form-post></ui-kit-buttons-form-post>
      </div>
    </form>
  </div>
  <!-- /.box -->
</div>
