<div>
  <ui-header></ui-header>
  <ui-nav></ui-nav>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:500px;">
    <!-- Main content -->
    <section class="content">
      <h1>
        <small>Dashboard/</small>
        {{example.name}}
      </h1>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <ng-include src="'assets/admin/app/modules/examples/views/examplesFormPut.view.html'"></ng-include>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <ui-footer></ui-footer>
</div>
