<!-- DATA FORM -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Seus Dados:</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="formNew" class="user-data">
      <div class="box-body">
        <div ng-show="photoOn==true" class="col-xs-10 col-xs-offset-1">
          <img class="col-xs-6 col-xs-offset-3 img-circle img-rounded" src="/src/img/users/{{userPhoto}}">
        </div>
        <div class="form-group col-md-12">
          <label for="name">Seu Nome:</label>
          <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Nome do Usuário" required="required"><br />
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.name.$error.required && formNew.name.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o seu nome</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-12">
            <label for="email">Seu Email:</label>
            <input ng-model="user.email" ng-blur="checkMail()" type="text" name="email" class="form-control" placeholder="exemplo@mail.com" required="required" ng-required="true"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.email.$error.required && formNew.email.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o seu email</p>
          </div>
          <div class="form-group col-md-4">
            <label for="cpf">Cpf:</label>
            <input ng-model="user.cpf" type="text" name="cpf" class="form-control" mask="999.999.999-99" placeholder="000.000.000-00" required="required" ng-required="true"><br />
          </div>
          <div class="form-group col-md-4">
            <label for="birth_date">Data de Nascimento:</label>
            <input ng-model="user.birth_date" type="text" name="birth_date" class="form-control" mask="99/99/9999" placeholder="00/00/0000" required="required" ng-required="true"><br />
          </div>
          <div class="form-group col-md-4">
            <label for="phone">Telefone:</label>
            <input ng-model="user.phone" type="text" name="phone" class="form-control" mask="(9?99)99999-9999" placeholder="(000)90000-0000" required="required" ng-required="true"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.phone.$error.required && formNew.phone.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o Telefone do Usuário</p>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.cpf.$error.required && formNew.cpf.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite o cpf do Usuário</p>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.birth_date.$error.required && formNew.cpf.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a data de nascimento do Usuário</p>
          </div>
          <div class="form-group col-md-12">
            <label for="password">Digite sua Senha Antiga:</label>
            <input ng-model="user.oldPassword" type="password" name="oldPassword" class="form-control" placeholder="Sua senha 8 a 12 digitos" required="required" ng-required="true"><br />
          </div>
          <div class="form-group col-md-12" ng-show="newPass">
            <label for="repassword">Nova Senha:</label>
            <input ng-model="user.password" type="password" name="password" class="form-control" placeholder="Sua senha 8 a 12 digitos" required="required" ng-required="true"><br />
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.oldPassword.$error.required && formNew.oldPassword.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> digite a sua antiga senha</p>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.password.$dirty && user.password==user.repassword">
              <p class="col-xs-10"><b>{{username}}</b> as duas senhas não podem ser iguais por favor corrija isso ;)</p>
          </div>
        </div>
        <div class="form-divisor">
          <div class="form-group col-md-6">
            <div class="col-xs-12 col-md-6">
              <label for="photo">Foto do perfil:</label>
              <input id="photo" type="file" name="photo" file-model="user.photo" class="default-field" ng-required="!(photoOn==true)" ng-minlenght="1"/><br>
            </div>
          </div>
          <div class="col-md-6">
              <button ng-click="newPass=true" class="btn btn-warning btn-flat btn-block" type="button" name="button">
                  <span class="fa fa-lock"></span>
                  Trocar Senha
              </button>
          </div>
          <div class="col-xs-12 alert alert-danger" ng-show="formNew.photo.$error.required && formNew.photo.$dirty">
              <p class="col-xs-10">Por favor, <b>{{username}}</b> adicione a foto de perfil do Usuário</p>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <ui-kit-buttons-form-post></ui-kit-buttons-form-post>
      </div>
    </form>
  </div>
  <!-- /.box -->

</div>
